/*.contact-content{  
    height: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 9px;
    position: relative; 
    overflow: hidden;
  }
  
  .contact-content::after {
    content: "";
    background-image: url("../img/11.svg");
    position: absolute;
    top:0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
  }
 
  .contact-content h2{
    font-size: 40px;
  }*/

 section{
    padding: 100px 0;

}
.contact{
    font-family: 'Poppins',sans-serif;
}
.contact .title{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    padding-bottom: 20px ;
    font-family: 'Ubuntu',sans-serif;
}
.contact .title::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.contact .title::after{
    content:"Get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #d56c16de;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.contact .contact-content .info .head{
    font-weight: 300;
    color:#d56c16de;
}
.text{
    margin-bottom:1.5rem;
}
.contact .contact-content .info .sub-title{
    color:#333;
}
.contact .contact-content{
    display:flex;
    align-items: center;
    justify-content:center;
}
.contact .contact-content .left{
   width: 40%;
}
.contact .contact-content .left{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.contact .right form  .fields{
      display:flex;
      margin-bottom:15px;
}
.contact .right form .fields .field{
    height:60px ;
    width:100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height:150px;
    width:100%;
}

.contact .right form .fields .field.success input{
    border: 2px solid #2ecc71 !important;
    width:98%; 
   
}
.contact .right form .fields .field.error input{
    border: 2px solid #e74c3c!important;
    width:98%;

}
.contact .right form .textarea.error textarea{
    border: 2px solid #e74c3c!important;
    width:98%;

}
.field small{
    visibility: hidden;
    position: relative ;
    bottom: 0;
    left: 0;
    color: #e74c3c;
    margin-bottom:10px;
}

.field.error small{
    visibility: visible;
    color: #e74c3c;
}
.contact .right h4{
  color: #d56c16de;
  text-align: center;
}

.contact .right .text{
    color: #d56c16de;
    font-weight: 800;
}

.contact .right form .name{
    margin-right: 10px;
    
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width:100%;
    border:1px solid #d56c16de;
    background:var(--bg-color);
    border-radius: 6px;
    outline: none;
    padding: 15px 15px;
    font-size: 17px;
    color:  #d56c16de;
    font-family: 'poppins',sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px!important;
    resize: none;
} 
.contact .right form .button{
    padding-top:1rem;
    height:70px;
    width:190px;
}
.contact .right form .button button{
    width:100%;
    height:100%;
    border:2px solid #d56c16de;
    background: #d56c16de;
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition:all 0.3s ease;
}
.contact .right form .button button:hover{
    color:#d56c16de;
    background: none;
}



