.toggle-mode {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  
  .icon {
    margin: 0 0.5rem;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.75rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #07f727;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    left: 3px;
    bottom: 3px;
    background-color: rgb(11, 11, 11);
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.625rem);
  }
  
  .slider.round {
    border-radius: 1.75rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .fa-sun, .fa-moon {
    font-size: 1.5rem;
  }
  