/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #F1DBBF;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h2{
  text-align: center;
  font-size:400%;
}

.container {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #e3f2fd; */
}

.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */

.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}


.elementor-widget-container1{
  font-size: 40px;
  line-height: 1.4em;
  letter-spacing: 0px;
  padding: 25px;
  /* background-color: red; */
}

h3{
  font-weight: lighter;
}

.elementor-widget-container2{
  font-size: 22px;
  line-height: 1.4em;
  padding: 0px 25px;
}

* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  width: 33.3%;
  padding: 0px 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 30px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.977)
}

/* Pricing header */
.price .header,.price .grey {
  background-color: #232323;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #575656b9;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  font-size: 20px;
}

/* The "Sign Up" button */
.button1 {
  background-color: #e89a13;
  border: 2px solid white;
  border-radius: 5px;
  width: fit-content;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.rows{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  /* .rows {
    flex-direction: column;
    justify-content: center;
  } */
  .price{
    margin: 30px 0;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  h3{
    font-size: 2.5rem;
    font-weight: lighter;
  }
  p{
    font-size: 1.5rem;
  }
}



@media only screen and (max-width: 712px) {
  .columns {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  h3{
    font-size: 1.5rem;
    font-weight: lighter;
  }
  p{
    font-size: 1rem;
  }
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
     opacity: 0;
     -webkit-transform: translateX(100px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(100px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeIn {
  0% {
     opacity: 0;

  }
  100% {
     opacity: 1;

  }
}

@keyframes fadeIn {
  0% {
     opacity: 0;

  }
  100% {
     opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-100px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-100px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

