@media screen and (max-width: 1200px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
  }

  .nav-left {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .m-auto content max-width-1 my-2{
     display:flexbox;
     flex-direction:column;
  }

  .content-right{
    width: 40%;
    height: 40%;
    margin-left: 40px;
    margin-top: 50px;
  }

  .content-left{
      font-display:flex;
      font-size: x-small;
  }

  .home-article {
    flex-direction: column;
  }

  .home-article-img {
    text-align: center;
  }

  .year-box {
    top: 25px;
    left: 60vw;
    font-size: 11px;
    display: flex;
  }

  .year-box div {
    padding: 0 3px;
    margin: 0;
  }

  .home-article img {
    width: 70vw;
  }
  .form-input {
    width: 50%;
  }
  .form-box input,
  textarea {
    width: 66vw;
  }
  .row {
    flex-direction: column;
  }
  .social {
    padding: 0;
  }
  .post-img {
    height: auto;
  }
  .adjust-year {
    position: static;
    height: auto;
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
