@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}
#home{
	/* background-color: black; */
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  cursor: pointer;
	  position: fixed;
	  right: 2rem;
	  bottom: 2rem;
	  border-radius: 15px;
	  color: #ffffff;
	  background-color: #121916;
	  height: 2.5rem;
	  width: 2.5rem;
	  font-size: 1.2;
	  z-index: 999;
  }
body {
	background: #f3e0e2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
	overflow: hidden;
}

h1 {
	font-weight: bold;
	margin: 0;
    margin-bottom: 20px;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 0px 0px 0px 0px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 550px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	color: #FFFFFF;
	position: relative;
	height: 100%;
	width: 100%;
}

.social-container {
	margin: 50px 0;
}

.vl {
    border-left: 1px solid black;
    height: 500px;
  }

  .signing {
    color: rgb(86, 86, 241);
}

.text {
    margin-left: 100px;
    margin-top: 30px;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 0px;
}

.fa:hover {
    opacity: 0.7;
}

.signup-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.signup-button {
    margin-top: 20px;
	margin-bottom: 20px;
}

#image_styling{
	width: 100%;
	height: 100%;
}
